.card_box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  padding: 10px;
  color: #fff !important;
  margin: 10px auto;
}

.card_box::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: .5s;
  z-index: 0;
}

.card_box:hover .card_mask {
  opacity: 1;
  pointer-events: auto;
}

.card_top {
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
}

.card_mask {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  transition: .5s;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 20px;
  background: #333;
}

.card_mask span {
  display: block;
  height: calc(100% - 40px);
  overflow: auto;
}

.card_mask a {
  text-align: center;
  background: #fff;
  color: #333 !important;
  border-radius: 5px;
  position: absolute;
  width: calc(100% - 40px);
  bottom: 20px;
  left: 20px;
}

.card_mask a:hover {
  text-decoration: none !important;
  color: white !important;
  background: #49b1f5;
}

.card_content {
  z-index: 1;
}

.card_content span {
  font-size: 18px;
  font-weight: bold;
}

[data-theme='dark'] .card_box {
  color: #ddd !important;
}

[data-theme='dark'] .card_box::after {
  background: rgba(0, 0, 0, 0.4);
}

/* tags样式 */
#aside-content .card-tag-cloud a {
  color: var(--anzhiyu-fontcolor) !important;
  font-size: 1.05rem !important;
  border-radius: 8px;
  display: inline-block;
  margin-right: 4px;
  font-family: 'OldSong' !important;
}
#aside-content .card-tag-cloud a:hover {
  background: var(--anzhiyu-theme);
  color: var(--anzhiyu-white) !important;
  box-shadow: var(--anzhiyu-shadow-theme);
}
@media screen and (min-width: 1300px) {
  #aside-content .card-tag-cloud a:hover {
    transform: scale(1.03);
  }
  #aside-content .card-tag-cloud a:active {
    transform: scale(0.97);
  }
}
#aside-content .card-tag-cloud a sup {
  opacity: 0.4;
  margin-left: 2px;
}

.card-announcement {
  color: black; /* 默认颜色 */
}

.card-announcement.dark-mode {
  color: white; /* 暗模式下的颜色 */
}

.card-announcement.dark-mode .item-headline i,
.card-announcement.dark-mode .item-headline span {
  color: white; /* 使图标和文本在暗模式下为白色 */
}

/* 归档样式 */
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.5rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-count-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:last-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:last-child {
  width: fit-content;
  margin-left: 4px;
}
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.1rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-date {
  font-size: 14px;
  opacity: 0.6;
}
li.card-archive-list-item {
  width: 100%;
  flex: 0 0 48%;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
  color: var(--anzhiyu-white);
  background-color: var(--anzhiyu-theme);
  box-shadow: var(--anzhiyu-shadow-theme);
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 1300px) {
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
    transform: scale(1.03);
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:active,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:active {
    transform: scale(0.97);
  }
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: var(--style-border);
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:first-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:first-child {
  width: auto;
  flex: inherit;
}
#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#aside-content > .card-widget.card-info {
  background: linear-gradient(to bottom right, #888888, #4b4b4b, #1a1a1a);
  background-size: 400%;
  box-shadow: var(--anzhiyu-shadow-black);
  animation: gradient 15s ease infinite;
  position: relative;
  color: var(--anzhiyu-white);
  font-family: Times;
}
.site-data > a .headline,
.site-data > a .length-num {
  color: var(--anzhiyu-white);
}


#nav *::after{
  background-color: transparent!important;
}
